/AWS Console Details.docx
/cv (With email and phone).html
/Lambda Function 1 Code.docx
/Lambda Function 1 Test Code.docx
/Lambda Function 2 Code.docx
/Lambda Function 2 Test Code.docx
/Portfolio Architecture Diagram.drawio
/Portfolio Architecture Diagram.png
/Portfolio Phases Flow Charts for AWS Services.pub